$font: 'Exo',
sans-serif;

$line-height: 27px;

%font-medium {
    font-family: 'Exo', sans-serif;
    font-weight: 500;
}


//

* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    font-family: inherit;
    box-sizing: border-box;
}

html,
body {
    min-width: 320px;
    font-family: $font;
}

img {
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color:inherit;
}
ul{
    list-style: none;
}
// Common classes
.before-text {
    display: block;
    color: #ff6d6d;
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 5px;
    text-transform: uppercase;
    @extend %font-medium;
}

h3.title-section {
    font-size: 40px;
    color: #282828;
    @extend %font-medium;
}

.fade-in {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.dots {
    color: #ff6d6d;
}
#btn-up{
    height: 50px;
    width: 50px;
    background:#ff6d6dc7 url(../img/btn-right.svg) no-repeat center;
    position: fixed;
    border-radius: 50%;
    transform: rotate(-90deg);
    background-size: 35px;
    box-shadow: 0px 0px 4px rgb(71, 70, 70);
    cursor: pointer;
    bottom: 15px;
    right: 15px;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;

    &.active{
        opacity: 1;
        visibility: visible;
    }

    &:hover{
        opacity: 0.7;;
    }
}
// First
section.first {
    height: 100vh;
    height: 100vh;
    background: url(../img/first-section-bg.jpg) no-repeat center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    transition: 0.5s all;

    .wrap {
        display: flex;
        flex-direction: column;
        height: fit-content;
        max-width: 1366px;
        justify-content: center;
        align-items: center;
        font-family: $font;
    }

    &.video-active{
        
        %animation{
            opacity: 0;
            transition: 0.5s all;
            transform: translateY(-50%)
        }

        h1.welcome,
        .btn-play{
            @extend %animation;
        }
        .btn-try{
            @extend %animation;

            &+ p{
                @extend %animation;
            }
        }

    }

}

h1.welcome {
    max-width: 680px;
    text-align: center;
    transition: 0.5s all;
    font-weight: 100;
    color: #282828;
    font-size: 60px;
}

.btn-play {    
    transition: 0.5s all;
    height: 60px;
    width: 60px;
    background: #323969 url(../img/play-btn.png) no-repeat 54% 50%;
    border-radius: 50%;
    cursor: pointer;
    margin: 50px 0;


    &:hover {
        background-color: #505785;
    }
}

.btn-try { 
    transition: 0.5s all;
    text-transform: uppercase;
    background: #ff6d6d;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 45px;
    cursor: pointer;

    &:hover {
        background: #f17c7c;
    }

    &+p {
        color: #949497;
        font-size: 14px;
        font-weight: 400;
        margin-top: 15px;
    }
}

.first-background-video {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    object-fit: contain;
    object-position: bottom;
    z-index: -1;
    height:100%;
    width:100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all;
    transform: translateY(50px);

    &.active{
        top:0;
        z-index:5;
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        
    }
}
#close-video{
    position: absolute;
    top:-50px;
    right:30px;
    height:50px;
    width:50px;
    background: #323969 url(../img/close.svg) no-repeat 50% 50%;
    background-size:30px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all;
    cursor: pointer;
    z-index: 10;

    &:hover{
        opacity:0.7 !important;
    }


    &.active{
        top:30px;
        visibility: visible;
        opacity: 1;
    }
}

// Second
section.second {
    .wrap {
        display: flex;

        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 70%;
            padding: 150px 0;
            @extend %font-medium;


            .description {
                font-size: 16px;
                color: #8a8a8a;
                max-width: 600px;
                margin-top: 20px;
                line-height: $line-height;
            }
        }

        .right {
            flex-basis: 30%;
            background: #ececec url(../img/second-section-right-bg.png) no-repeat right bottom;
            background-size: contain;
        }
    }
}

// Third
section.third {
    background: #ececec;
    font-family: $font;

    .wrap {
        padding: 100px 0 130px 0;
        max-width: 1400px;
        margin: 0 auto;
        background: url('../img/Earphones.png') no-repeat 95% -10px,
            url('../img/Coffee.png') no-repeat 100% 130%,
            url('../img/Holder.png') no-repeat 0% -20px;


        .before-text,
        .title-section {
            text-align: center;
        }

        .title-section {
            margin-bottom: 30px;
        }
    }
}

.feautures {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;


    .feauture {
        max-width: 350px;
    }

    .feauture-2 {
        margin: 0 30px;
    }

    .feauture h4::before {
        content: '';
        display: block;
        height: 65px;
        width: 65px;
        margin: 30px auto;
    }

    .feauture-1 h4::before {
        background: url(../img/feauture-1-bg.png) no-repeat center center;
        background-size: contain;
    }

    .feauture-2 h4::before {
        background: url(../img/feauture-2-bg.png) no-repeat center center;
        background-size: contain;
    }

    .feauture-3 h4::before {
        background: url(../img/feauture-3-bg.png) no-repeat center center;
        background-size: contain;
    }

    .feauture h4,
    .feauture p {
        font-weight: 500;
        text-align: center;
    }

    .feauture h4 {
        font-size: 22px;
        color: #282828;
    }

    .feauture p {
        margin-top: 12px;
        font-size: 16px;
        color: #858584;
        line-height: $line-height;
    }
}

// Fourth
section.fourth {
    .wrap {
        background: url(../img/fourth-section-left-bg.png) no-repeat;
        background-size: 600px 100%;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1366px;
        padding: 100px 0;
    }

    .left,
    .right {
        width: 50%;
        flex-grow: 0;
        max-width: 600px;
    }

    .right {
        padding: 15px 0;
        max-width: 500px;
    }

    h3~p {
        font-size: 16px;
        @extend %font-medium;
        color: #8a8a8a;
        line-height: $line-height;
        margin-top: 40px;
    }

    img {
        display: block;
        margin: 0 auto;
    }
}

// Fifth

section.fifth {
    .wrap {
        background: url(../img/fifth-section-bg.jpg) repeat;
        background-size: contain;
        font-family: $font;
        padding: 100px 0;
        padding-bottom: 70px;
        position: relative;
    }

    .feedbacks {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 18px;

    }

    button {
        display: none;
        z-index: 5;
    }

    .feedback {
        max-width: 335px;
        text-align: center;
        transition: 0.3s all;

        &:nth-child(2) {
            margin: 0 25px;
        }


        .avatar {
            width: 75px;
            height: 75px;
            background: #4e4e5e url(../img/user.svg) no-repeat center;
            background-size: 85px;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 25px;
        }

        .profession {
            color: #f5696a;
            font-size: 16px;
            @extend %font-medium;
            margin-top: 5px;
        }

        .username {
            @extend %font-medium;
            font-size: 22px;
            color: #fff;
        }

        .comment {
            color: #c7c7c8;
            font-size: 16px;
            font-style: italic;
            line-height: $line-height;
            margin-top: 35px;
        }
    }

    .logos {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 900px;
        margin: 0 auto;
        margin-top: 50px;
        opacity: 0.6;
        flex-wrap: wrap;
    }

    .logos img {
        margin: 25px 25px;
    }
}

// Sixth 
section.sixth {
    padding-top: 100px;
    text-align: center;
    background: #f6f5f3;


    .description {
        padding: 0 25px;
        margin: 0 auto;
        max-width: 700px;
        margin-top: 12px;
        font-size: 16px;
        color: #858584;
        line-height: $line-height;
        @extend %font-medium;
    }

    .browser {
        margin-top: 80px;
        ;
    }
}

// Seventh 
section.seventh {
    background: #323969;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;

    h3.title-section {
        color: #fff;
    }

    .terms {
        color: #b8b9c3;
        margin-top: 45px;


        a {
            color: inherit;
            text-decoration: underline;
        }
    }

    .form{
        margin-top: 45px;
    }

    .form form {
        display: flex;
        align-items: flex-end;
        justify-content: center;


        input {
            color: #ff6d6d;
            height: 45px;
            background: #464c77;
            padding: 10px 27px;
            padding-top: 12px;
            width: 200px;
            border-radius: 2px;
            border: 0.5px solid #999cb4;
            text-transform: uppercase;
            margin: 5px;


            &::placeholder {
                color: #f6f5f3;
            }

            &[type=submit] {
                color: #f6f5f3;
                border: 0.5px solid #ff6d6d;
                background: #ff6d6d;
                box-shadow: 0px 1px 2px rgb(46, 46, 46);
                margin: 5px;
                cursor: pointer;
                transition: 0.3s;

                &:hover{
                    background: #f17e7e;
                    box-shadow: 0px 4px 5px rgb(34, 33, 33);
                }

                &:active{
                    background: rgb(243, 111, 111);
                }


            }
        }

        .btn-submit {
            width: max-content;
            margin-left: -10px;


            .free-all {
                color: white;
                width: 230px;

                &::after {
                    content: '';
                    display: block;
                    height: 40px;
                    width: 25px;
                    margin-top: -15px;
                    margin-bottom: 20px;
                    background: url(../img/text-arrow.png) no-repeat center;

                }
            }
        }

    }

    .modal-thanks{
        position: fixed;
        width: 300px;
        padding: 15px 0;
        top: -10px;
        opacity: 0;
        visibility: hidden;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 3px;
        background: rgb(247, 244, 244);
        border-block-end: 2px solid #ff6d6d;
        transition: 0.3s cubic-bezier(0.25, 0.1, 0, 1.41);
        color: rgb(37, 37, 37);
    }
    .modal-thanks.active{
        opacity: 1;
        visibility: visible;
        top: 20px;
    }
}

// Footer
footer.main{
    background: url('../img/footer-section-right-bg.png') no-repeat top right;
    background-size: contain;

    .wrap{
        display:flex;
        justify-content: space-between;
        padding:50px 30px;
        max-width:900px;
        margin: 0 auto;
        flex-wrap:wrap;
    }

    
    .title{
        font-size: 22px;
        font-weight:500;
        margin-bottom: 15px;
    }
    

    .logo{
        
        .main-logo{
            display:block;
            color: #2c2f49;
            font-size:22px;
            font-weight:500;
            line-height:0;
            margin-bottom: 22px;

            .addition-logo{
                display: inline-block;
                width: 40px;
                color: white;
                padding: 20px 4px;
                background:url(../img/polygon.png) no-repeat center;
                background-size: contain;     
            }

        }

        
        p{
            color: #8a8a8a;
            font-size: 14px;
        }
    }

    .support,
    .about{

        ul li{
            margin: 7px 0;
        }

        ul li a{
            color: #8a8a8a;
            font-size: 14px;

            &:hover{
                color: #2c2f49;
            }
        }
    }

    .get-newsletter{
        .input-group{
            display:flex;
            
            
            input{
                height:49px;
                width: 216px;
                border: 1px solid #b8b8bf;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-right: none;
                padding:0 10px;
                font-size: 16px;
                text-transform:uppercase;
                background:#f6f6f6;
            }

            button{
                height:49px;
                width:49px;
                border: 1px solid #ff6d6d;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                background:#ff6d6d url(../img/send.svg) no-repeat center;
                background-size:27px;
                margin-left:-5px;
                box-shadow:2px 1px 1px rgba(105, 105, 105, 0.26);
                cursor: pointer;

                &:hover{
                    background-color:#f77e7e;
                    border:1px solid #f77e7e;
                }

                &::placeholder{
                    color:#c0c0c0;
                }
            }
        }

        .soc-networks{
            display:flex;
            justify-content: space-between;
            margin-top: 15px;
            max-width:262px;

            a{
                display:block;
                height: 35px;
                width:35px;
                border-radius:50%;
                box-shadow: 0px 0px 4px rgb(71, 70, 70);

                &:hover{
                    opacity:0.7;
                }

                &.vk{
                    background: #ff6d6d url(../img/vk_logo.svg) no-repeat center;
                    background-size:19px;
                }
                
                &.facebook{
                    background: #ff6d6d  url(../img/facebook-logo.svg) no-repeat center;
                    background-size:19px;
                }
                
                &.instagram{
                    background: #ff6d6d  url(../img/instagram-logo.svg) no-repeat center;
                    background-size:16px;
                }
                
                &.telegram{
                    background: #ff6d6d  url(../img/telegram-logo.svg) no-repeat center;
                    background-size:16px;
                }


            }
        }
    }
}

//
.after-footer{
    padding: 15px;
    background: #323969;
    text-align:center;
    color:white;
    font-weight:100;

    a{
        font-weight:400;
        text-decoration:underline;
    }
}

//Media 

// < 1440 
@media(max-width:1440px) {
    section.fourth .container {
        justify-content: center;

        .left {
            margin-right: 30px;
        }
    }
}

// < 960
@media(max-width:990px) {
    .second .wrap {
        flex-direction: column;
    }

    .second .right {
        display: none;
    }

    section.fourth {

        .wrap {
            background: none;
        }

        .container {
            flex-direction: column;
            padding: 50px 0;

            .left {
                padding: 0;
                width: 100%;
                margin-top: 50px;
                margin-right: 0;
                order: 1;

            }

            .right {
                width: 100%;
                padding: 0 20px;
            }
        }

    }

    // 
    section.seventh {
        .form form {
            flex-wrap: wrap;

            input {
                flex-basis: 34%;

                &[type=submit] {
                    width: 100%;
                    min-width: 200px;
                    margin: 0;
                }
            }

            .btn-submit {
                flex-basis: 34% !important;
                margin: 5px;
            }

            .free-all {
                display: none;
            }
        }
    }

    //
    footer.main{
        .logo{
            flex-basis:50%;
            order:-1;

            .main-logo{
                margin-bottom: 10px;
            }
        }
        .get-newsletter{
            flex-basis:50%;
            order:-1;

            .title{
                margin-bottom:20px;
            }
        }
        .support,
        .about{
            flex-basis:50%;
            margin-top: 30px;
        }
    }
}

// < 768
@media(max-width:768px) {
    h1.welcome {
        font-size: 34px;
    }

    .second .left {
        padding: 70px 0 !important;
    }

    .second .left-wrap {
        padding: 0 30px;
    }

    .second h3 {
        font-size: 30px !important;
    }

    //
    section.third .wrap {
        padding: 70px 0;
        background: url(../img/Earphones.png) no-repeat 108% -3%,
            url(../img/Coffee.png) no-repeat 109% 114%,
            url(../img/Holder.png) no-repeat -19% -48px;

        .title-section {
            margin-bottom: 0;
        }




    }

    .feautures {
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;

        .feauture {
            margin: 15px auto;
        }
    }

    //
    section.fifth {
        .feedbacks {
            align-items: center;
            overflow: hidden;
            height: 360px;
            padding: 0;
            position: relative;

        }

        .buttons {
            width: 150px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
        }

        button {
            display: inline-block;
            height: 50px;
            width: 50px;
            top: 50%;
            border-radius: 50%;
            box-shadow: 3px 3px 5px 6px rgb(32, 32, 32);
            cursor: pointer;
            transition: 0.2s all;
        }

        button:hover {
            box-shadow: 3px 3px 5px 8px rgb(32, 32, 32);
            background-color: rgb(51, 50, 50) !important;
        }

        button:active {
            opacity: 1;
            background-color: rgb(39, 38, 38) !important;
        }

        #prevFeedback {
            background: rgb(39, 39, 39) url(../img/btn-left.svg) no-repeat center;
            background-size: 35px;
        }

        #nextFeedback {
            background: rgb(39, 39, 39) url(../img/btn-right.svg) no-repeat center;
            background-size: 35px;
        }

        .feedback:nth-child(2) {
            margin: 0;
        }

        .feedback {
            display: inline-block;
            width: 100%;
            max-width: unset;
            flex-shrink: 0;

            &.fade-left {
                animation: fade-left 0.5s ease;
            }


            .comment {
                max-width: 400px;
                padding: 0 20px;
                margin: 0 auto;
                margin-top: 25px;
            }

        }
    }


}

// < 640
@media(max-width:640px) {
    h3.title-section {
        font-size: 30px;
    }

    //
    section.third .wrap {
        padding: 70px 0;
        background: url(../img/Earphones.png) no-repeat 108% 1%,
            url(../img/Holder.png) no-repeat -7% 108%;
        background-size: 129px 142px, 151px 161px;
    }

    //
    section.seventh {
        .form form{
            input{
                flex-basis: 50%;
            }

            .btn-submit{
                flex-basis: 50% !important;
            }
        }

    }

    //
    footer.main{

        .wrap{
            align-items:center;
        }

        .logo{
            margin-top:30px;
            order: 4;
            flex-basis: 100%;

            p{
                display:inline-block;
            }
        }

    }
}
